<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ignis uses your location to show nearby shelters and fire incidents.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow location access to enable real-time safety features and nearby resources.</string>
</dict>
</plist>
